obj/
vscode/python3/lcialgo/int_prep/findPortSeq.py
vscode/showcase/langchain-RAG/chroma_db/e83b29be-cba2-459b-a740-7a4dcf852072/link_lists.bin
vscode/showcase/langchain-RAG/chroma_db/e83b29be-cba2-459b-a740-7a4dcf852072/length.bin
vscode/showcase/langchain-RAG/chroma_db/e83b29be-cba2-459b-a740-7a4dcf852072/index_metadata.pickle
vscode/showcase/langchain-RAG/chroma_db/e83b29be-cba2-459b-a740-7a4dcf852072/header.bin
vscode/showcase/langchain-RAG/chroma_db/e83b29be-cba2-459b-a740-7a4dcf852072/data_level0.bin
vscode/showcase/langchain-RAG/chroma_db/chroma.sqlite3
