<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:8000" />
    <add key="startdate" value="01-01-2022" />
    <add key="enddate" value="12-31-2023" />
    <add key="4W_Weight" value="0.05" />
    <add key="8W_Weight" value="0.03" />
    <add key="13W_Weight" value="0.02" />
    <add key="26W_Weight" value="0.5" />
    <add key="52W_Weight" value="0.4" />
  </appSettings>
</configuration>